:root {
  --text: #393e46;
  --background: #FFFAEB;
  --primary: #4dcba1;
  --secondary: #dbd9d1;
  --accent: #767674;
  --font: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--text);
  font-family: var(--font)
}


main {
  min-height: 100vh;
  width: 100%;

  
}

main, .container {
  box-sizing: border-box;
}

.navbar {
  /* Set the border style, color, and width */
  border-bottom: 2px solid var(--secondary); /* Replace #FF0000 with the desired color code */
  border-radius: 5px; /* Optional: Adds rounded corners to the border */
  background-color: var(--background);
  height: 60px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .password-input {
    align-items: center;
  }

  .password-input button {
    display: inline-block;
    margin-left: 2px;
    font-size: 10px;
  }

  .profilepicture {
    width: 50px; 
    height: 50px;
    border-radius: 50%;
  }

 .image img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

.navimage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover !important;
}

.inputBox, select {	
  position: relative;
  width: 100%;
  color: #000000;
}

.inputBox input {
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 5px;
  outline: none;
  font-size: 1em;
  transition: 0.5s;
  font-family: var(--bs-body-font-family);
}

.inputBox input:focus {
  outline: 0;
  border: 2px solid #4ecca3;
  box-shadow: none;
}

.inputBox select {
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 5px;
  outline: none;
  font-size: 1em;
  transition: 0.5s;
  font-family: var(--bs-body-font-family);
}

.inputBox select:focus {
  outline: none;
  border: 2px solid #4ecca3;
  box-shadow: none;
}

#imageInput {
  display: none;

}

#imageInputLabel {
  cursor: pointer;
  transition: transform ease 0.2s, box-shadow ease 0.2s
}

#removeImage {
  transition: transform ease 0.2s, box-shadow ease 0.2s
}

#save {
  appearance: button;
  backface-visibility: hidden;
  background-color: var(--primary);
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: var(--text);
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#save :hover {
  background-color: var(--secondary);
}

#resetPasswordButton {
  appearance: button;
  backface-visibility: hidden;
  background-color: var(--accent);
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: var(--text);
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#resetPassword :hover {
  background-color: var(--secondary);
}

#logout {
  appearance: button;
  backface-visibility: hidden;
  background-color: var(--secondary);
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: var(--text);
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 0px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.notification {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #4ecca3;
  color: white;
  padding: 15px;
  border-radius: 5px;
  display: none;
}

/* Styles for the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.0);
}

/* Styles for the modal content */
.modal-content {
  display: inline;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  padding-left: 600px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#yesButton {
  background-color: #4ecca3;
  color: white;
  border: 5px;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  width: 15%;
}

#noButton {
  background-color: #CCCCCC;
  border: 5px;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  width: 15%;
}

.header-photo {
  width: 20%;
}

.footer  {
  background-color: var(--secondary);
  width: 100%;
  padding-top: 25px;
  margin-top: 50px;
}

.footer-links label {
  color: var(--text);
  cursor: pointer;
}

.socials label {
  color: #000000;
  cursor: pointer;
}

h6 {
  color: var(--text);
}

.text-center label {
  color: var(--text);
}

html, body {
  margin: 0;
  padding: 0;
}

h1.account {
  text-align: center;
}

h5 {
  padding-left: 240px;
}


