.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .password-input {
    align-items: center;
  }

  .password-input button {
    display: inline-block;
    margin-left: 2px;
    font-size: 10px;
  }

  #profilepicture {
    width: "200"; 
    height: "100";
  }

 .image img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .navimage{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }