body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
header{
  text-align: center;
}


.forum-container {
  display: flex;
}

.forum {
  width: 30%; /* Each forum section takes half of the available width */
  border: 1px solid #ddd;
  box-sizing: border-box;
  padding: 20px;
}

.forum-info {
  background-color: #2C2F33;
  color: #ffffff;
}
#textontop{
  text-align: center;
}
#reply{
  position: relative;
  float: right;
}
.new_forum {
  cursor: pointer;
  transition: background 0.5s;
  display: none;
}
.new_forum.active{
  display: block;
  opacity: 1;
  transform: translateX(0);
}
#forum a{
  color: white;
  text-decoration: none;
}
#forum:hover {
  cursor: pointer;
  background-color: #7289DA;
  text-decoration: none;

}

.new_forum:hover {
  background-color: #7289DA;
}

.forum-content {
  padding: 20px;
}#7289DA



.post-form  h1{
  margin-top: 20px;
  text-align: center;
  
}


/* Adjust styling as needed */
/*post*/
.post_avatar img{
  border-radius: 50%;
  height: 50px;
  width: auto;
}
.post_avatar{
  display: flex;
}
.post{
  display: flex;
  align-items: flex-start;
  border-bottom: 1px;
  padding-bottom: 10px;
}

.post_footer{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border-bottom: 8px solid gray;
}

.post_headerSpecial{
  font-weight: 600;
  font-size: 12px;
  color:gray;
}
.post_header h3{
  font-size: 15px;
  margin-bottom: 5px;

}
.post_headerText h3{
  font-size: 15px;
  margin-bottom: 5px;
}

.post_headerDescription{
  
  margin-bottom: 10px;
  font-size: 15px;
}
.post_body{
  flex:1px;
  padding: 10px;
}
.postBox{
  padding-bottom: 10px;
  padding-right: 10px;


}
.postBox form {
  font-family: Arial, Helvetica, sans-serif;
}

.postBox_input{
  display: flex;
  padding: 20px;
 
}
.postBox_input input{
  flex:1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
  outline: none;
}
#addPostButton{
  float: right;
  background-color: blue;
  border:none;
  color:white;
  font-weight: 900;
  border-radius: 30px;
  width: 80px;
  height: 40px;
  margin-top: 20px;
  margin-left: auto;
}

.postBox_input img{
  border-radius: 50%;
  width:30px;
}
.feed {
  flex:0.5;
  border-right: 1px solid var(background);
  min-width: fit-content;
  overflow-y: scroll;
}
