:root {
    --text: #393e46;
    --background: #FFFAEB;
    --primary: #4dcba1;
    --secondary: #dbd9d1;
    --accent: #767674;
    --font: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

/* Navbar css */
.navbar {
    /* Set the border style, color, and width */
    border-bottom: 2px solid var(--secondary); /* Replace #FF0000 with the desired color code */
    border-radius: 5px; /* Optional: Adds rounded corners to the border */
    background-color: var(--background);
    height: 60px;
  }

.navbar:hover {
    font-size: medium;
}

.nav-link:hover {
    font-weight: 400;
    font-size: medium;
    color: var(black);
    transform: scale(1.1);
    transition: transform 0.2s;
}

.nav-item {
    padding: 10px;
    font-size: medium;
    transition: transform 0.2s;
}

/* Type writer css */
.cool {
    width: 100%;
    overflow: hidden;
}

#header {
    background-color: var(--background);
    margin: 0px !important;
    padding: 0px !important;
    height: 60vh;
}

#exploreInner p {
    color: var(--primary);
    font-size: 50px;
    font-family: var(--font);
}
.carousel img {
    height: 70vh;
}

.gray img{
    object-fit:cover;
}
.insert{
    background-image: url("images/student1.jpeg");
}

.center-content {
    position: relative; /* Make the container a positioning context */
    text-align: center; /* Center-align the text within the container */
}

.center-content img {
    width: 100%; /* Ensure the image covers the entire container */
    max-height: 90vh; /* Maintain aspect ratio */
}

.center-content .content {
    position: absolute; /* Position the content element */
    top: 50%; /* Align content vertically in the middle */
    left: 50%; /* Align content horizontally in the middle */
    transform: translate(-50%, -50%); /* Center the content element */
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for text */
    padding: 20px;
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    max-width: 80%;
    color: #4ecca3;
}

.explore {
    color: #000000;
}

.explore:hover {
    color: #4ecca3;
}

.typewrite {
    color: #000000;
}

.typewrite:hover {
    color: #4ecca3;
}

/* uni carousel css */
a {
    text-decoration: none !important;
    color: var(--text) !important;
}

.card:hover {
    transform: scale(1.05); /* Slightly scale the card on hover */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add a box shadow on hover */
}



.card .card-content {
    position: absolute; /* Position the content absolutely inside the card */
    bottom: 0; 
    left: 50%;
    transform: translateX(-50%);
    color: white; /* Set the text color to white */
    padding: 10px; /* Add some padding to the content for spacing */
    z-index: 1; /* Ensure the content is above the image */
    text-align: center;
}

.card {
    width: 300px; /* Set the width of the card as needed */
    height: 200px; /* Set the height of the card as needed */
    border: 1px solid #ccc; /* Add borders or other styles as desired */
    overflow: hidden; /* Hide any content that might overflow */
}

.card a {
    display: block;
    width: 100%; /* Make the anchor tag the same width as the card */
    height: 100%; /* Make the anchor tag the same height as the card */
}

.card img {
    width: 100%; /* Set the image's width to 100% of the anchor tag's width */
    height: 100%; /* Set the image's height to 100% of the anchor tag's height */
    object-fit: cover; /* Resize the image to cover the entire container */
}

  

h2 {
    font-size: 20px !important;
}

.circle-btn {
    position: relative;
    display: inline-flex;
    width: 50px;
    height: 50px;
    border: none;
    align-items: center;
    line-height: 50px; 
    color: var(--font); 
    font-size: 30px;
    justify-content: center;
    text-shadow: 3px 3px #e4e4e441;
    bottom: 5%; /* Position at the bottom of the section */
    left: 50%; /* Horizontally center the button */
    transform: translateX(-50%);
    z-index: 2;
}

.circle-btn i {
    transition: all 0.3s ease; /* Add a transition for all properties */
}

.circle-btn:hover i {
    color: var(--primary); /* Change the color on hover */
    transform: scale(1.2); /* Scale the icon on hover */
}

#scroll-icon {
    position: absolute;
    top: 550px;
    left: 49%;
}

.track-wrapper {
    width: 100%; /* Set a fixed width for the container */
    overflow: hidden; /* Hide any overflowing content */
    display: flex; /* Ensure the container expands to hold all items */
    background-color: var(--secondary);
    padding-top: 20px;
}

.track {
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    display: flex; /* Display list items as flex items */
    animation: scroll 1500s linear infinite; /* Continuous scrolling animation */
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%); /* Adjust the percentage based on your card width */
    }
}

.track:hover {
    animation-play-state: paused; /* Pause the animation on hover to allow user interaction */
}

.card {
    /* Style your cards as needed */
    width: 300px; /* Set a fixed width for each card */
    height: 300px;
    margin-right: 10px; /* Add spacing between cards (optional) */
}

a {
    text-decoration: none;
}

/* Boxes css */
.chapter {
    margin: 0 15px 20px;
    overflow: hidden;
    border-radius: 28px;
}
.link {
    display: block;
    padding: 30px 20px;
    background-color: #000000;
    overflow: hidden;
    position: relative;
}
.link:hover,
.link:hover .ag-courses-item_date {
    text-decoration: none;
}
.link:hover .bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}
.Title {
    height: 100px;
    margin: 0 0 25px;
    overflow: hidden;
    font-weight: bold;
    font-size: 25px;
    color: #FFF;
    text-decoration: none;
    z-index: 2;
    position: relative;
}

.bg {
    height: 128px;
    width: 128px;
    background-color: var(--primary);
  
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
  
    border-radius: 50%;
  
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}




/* Footer css*/
.footer  {
    background-color: var(--secondary);
    width: 100%;
    padding-top: 25px;
    margin-top: 0px;
}
    
.footer-links label {
    color: var(--text);
    cursor: pointer;
}
    
.socials label {
    color: var(--text);
    cursor: pointer;
}

/* Parallax Scroling */
.parallax {
    height: 100vh;
    background-image: url("/images/background.png"); /* Replace with your image */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    position: relative; /* Add this line */
}





  
.animation {
    animation: fade-left linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}
@keyframes fade-left {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.animation1 {
    animation: fade-top linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}
@keyframes fade-top {
    from {
        opacity: 0;
        transform: translateY(-20%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.animation2 {
    animation: fade-bottom linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}
@keyframes fade-bottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    50% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animation3 {
    animation: fade-right linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}
@keyframes fade-right {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.container-gap {
    margin-bottom: 50px;
    margin-top: 50px; /* Adjust the value as needed */
  }
  
.header1 {
font-weight: bold;
font-size: 2.5em;
height: 20vh;
text-align: center;
}

.profilepicture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
