/* 

light color palette:
Aero Blue: #96B6C5
Bluish Gray: #ADC4CE
Isabelline: #EEE0C9
Alabaster: #F1F0E8
Lavender Gray: #DDDDEE

Dark Color Palette:
Dark Blue: #354F5B
Deep Teal: #465B66
Rich Brown: #7C6D5E
Charcoal Gray: #464646
Deep Purple: #635D7D

*/
:root {
    --text-color: #464646;
    /* Text color is deep teal and can be adjusted */
    --background-color: rgb(167, 189, 255);
    /* background color is aero blue and can be adjusted */
    --hover-color: #ADC4CE;
    /* hover color is blueish gray and can be adjusted */
    --error-color: #ff0000;
    /* error color is blueish gray and can be adjusted */
    --default-color: #EEE0C9;
    /* navbar color */

}

img {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;

}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 0px;
    margin: 0;
}

/* Navbar styling */
.navbar {
    background-color: var(--background-color);
    border-bottom: var(--text-color) 1px solid;
}

.active {
    font: weight 1500px;;
}

section{
    
    place-items: center;
    align-content: center;
    height: 100vh;
    width:100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.text-overlay {
    /* position: absolute; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 10px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.hidden{
    opacity: 0;
    transform: translateX(-100%);
    transition: all 2s;

}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.text{
    padding: 500px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

#University h1{
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif;

}
#University{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;

}

#University img{
    width:700px;
}

.logo {
    width: 40px;
}

#plan h1{
    text-align: center;
}
#plan img{
    width: 700px;
}
#plan{
    font-size: 30px;
}

#todo h1{
    text-align: center;
}
#todo img{
    width: 700px;
}
#todo{
    font-size: 30px;
}

.login{
    text-align: center;
}

