/* 

light color palette:
Aero Blue: #96B6C5
Bluish Gray: #ADC4CE
Isabelline: #EEE0C9
Alabaster: #F1F0E8
Lavender Gray: #DDDDEE

Dark Color Palette:
Dark Blue: #354F5B
Deep Teal: #465B66
Rich Brown: #7C6D5E
Charcoal Gray: #464646
Deep Purple: #635D7D

*/
:root {
    --text-color: #464646;
    /* Text color is deep teal and can be adjusted */
    --background-color: rgb(167, 189, 255);
    /* background color is aero blue and can be adjusted */
    --hover-color: #ADC4CE;
    /* hover color is blueish gray and can be adjusted */
    --error-color: #ff0000;
    /* error color is blueish gray and can be adjusted */
    --default-color: #EEE0C9;
    /* navbar color */

}


img {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;

}

video {
    max-width: 60vw;
    min-width: 60vw;
}

/* .buffer {
    width: 100%;
    min-height: 20vh;
    background-color: var(--text-color);
} */
/* 
.parallax1 {
    background-image: url("../images/air.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.parallax2 {
    background-image: url("../images/Universities.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 
.parallax3 {
    background-image: url("../images/air.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

div .col-4 {
    align-items: center !important;
}

.airplane {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 5px;
        
}


.parallax4 {
    background-image: url("../images/Universities.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    color: var(--text-color);
    padding: 0px;
    margin: 0;

}

/* Navbar styling */
.navbar {
    background-color: antiquewhite;
    border-bottom: var(--text-color) 1px solid;
}

.navbar:hover {
    font-size: medium;
}

.nav-link:hover {
    font-weight: 400;
    font-size: medium;
    color: var(black);
    transform: scale(1.1);
    transition: transform 0.2s;
}

.nav-item {
    padding: 10px;
    font-size: medium;
    transition: transform 0.2s;
}


section {
    place-items: center;
    align-content: center;
    height: 100vh;
    width: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-overlay {
    /* position: absolute; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    /* Semi-transparent white background */
    padding: 10px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.hidden {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 2s;

}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.text {
    padding: 500px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

#University h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

#University {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;

}

#University img {
    max-width: 200px;
}

.logo {
    width: 40px;
}

#plan h1 {
    text-align: center;
}

#plan img {
    max-width: 200px;
}

#plan {
    font-size: 30px;
}

#todo h1 {
    text-align: center;
}

#todo img {
    max-width: 200px;
}

#todo {
    font-size: 30px;
}

.login {
    text-align: center;
}

::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}