<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- update the version number as needed -->
    <script defer src="/__/firebase/10.4.0/firebase-app-compat.js"></script>
    <!-- include only the Firebase features as you need -->
    <script defer src="/__/firebase/10.4.0/firebase-auth-compat.js"></script>
    <script defer src="/__/firebase/10.4.0/firebase-database-compat.js"></script>
    <script defer src="/__/firebase/10.4.0/firebase-firestore-compat.js"></script>
    <script defer src="/__/firebase/10.4.0/firebase-functions-compat.js"></script>
    <script defer src="/__/firebase/10.4.0/firebase-messaging-compat.js"></script>
    <script defer src="/__/firebase/10.4.0/firebase-storage-compat.js"></script>
    <script defer src="/__/firebase/10.4.0/firebase-analytics-compat.js"></script>
    <script defer src="/__/firebase/10.4.0/firebase-remote-config-compat.js"></script>
    <script defer src="/__/firebase/10.4.0/firebase-performance-compat.js"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!-- External Style sheet-->
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="stylesheet" href="./stylesheets/unipage.css">
    <!-- Vue 3 -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./app.js"></script>
    <script src="account.js"></script>
    <style>
        .bg-color {
            background-color: antiquewhite;
        }
    </style>
</head>

<body>

    <!-- BS navbar: start -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="./university.html"><img src="./images/logo.jpeg" class="logo" /></a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="./university.html">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" href="./forum.html">Forum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active " href="./modulemapping.html">Module Mapping</a>
                    </li>
                </ul>
                <div class="navimage d-flex align-items-center" id="signUpLogInImage">
                    <!-- <a href="./account.html" class="avatar rounded-circle text-white d-none d-lg-flex">
                        <img id="userImage" class="profilepicture" alt="imageInput1" src="./images/profile photo.jpeg" />
                    </a> -->
                </div>
            </div>
        </div>
    </nav> 
    <script>
      const navbar = document.querySelector('.navbar');

      // Add an event listener to the navbar when it shows
      navbar.addEventListener('show.bs.collapse', function () {
          const dropdown = this.querySelector('.navbar-collapse');
          if (dropdown) {
              dropdown.classList.add('custom-dropdown-bg');
          }
      });

      // Remove the custom class when the dropdown is hidden
      navbar.addEventListener('hide.bs.collapse', function () {
          const dropdown = this.querySelector('.navbar-collapse');
          if (dropdown) {
              dropdown.classList.remove('custom-dropdown-bg');
          }
      });

    </script>


    <div id="app">
        <!-- University Section-->
        <section class="container-fluid" id="universityHome">
            <div class="universityNameBox">
                <h1>{{universityVue}}</h1>
            </div>
        </section>

        <!-- About Section-->
        <div class="p-5 text-center text-md-start">
            <div class="container">
                <div class="d-md-flex align-items-center justify-content-between">
                    <div>
                        <h1>About us!</h1>
                        <p class="lead">{{aboutVue}}</p>
                    </div>
                    <img class="img-fluid w-50 d-none d-md-block" :src="backgroundImageVue" alt="">
                </div>
            </div>
        </div>
            

        <!-- Info Section -->
        <div class="p-5">
            <div class="container">
                <h1 class="text-center">General Information</h1>
                <div class="row text-center g-4">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card bg-dark text-light">
                            <div class="h1">
                                <i class="bi bi-book"></i>
                            </div>
                            <h3 class="card-title">
                                GPA Requirements
                            </h3>
                            <p class="card-text">
                                10th: {{gpaVue[0]}}
                                <br>
                                90th: {{gpaVue[1]}}
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card bg-secondary text-light">
                            <div class="h1">
                                <i class="bi bi-book"></i>
                            </div>
                            <h3 class="card-calendar">
                                Application Window
                            </h3>
                            <p class="card-text">
                                Semester 1: December
                                <br>
                                Semester 2: June
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card bg-dark text-light">
                            <div class="h1">
                                <i class="bi bi-people"></i>
                            </div>
                            <h3 class="card-title">
                                Number of Slots
                            </h3>
                            <p class="card-text">
                                Semester 1: 10
                                <br>
                                Semester 2: 20
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card bg-secondary text-light">
                            <div class="h1">
                                <i class="bi bi-info-square"></i>
                            </div>
                            <h3 class="card-title">
                                About Country
                            </h3>
                            <p class="card-text">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate, iure?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mapping Modules -->
        <div class="p-5">
            <div class="container">
                <h1 class="text-center">Modules Mapping</h1>
                <p class="lead text-center">Here are the possible modules that are mappable.
                    Select the basket and you will find the modules that are available.
                    <br> <br>
                    <select v-model="selectedModule">
                        <option v-for="(modulesName, category) in modulesVue" :key="category" :value="category">
                            {{category}}</option>
                    </select>
                </p>
            </div>
            <div class="album py-3">
                <div class="container justify-content-center">
                    <div class="row justify-content-center" v-if="selectedModule">
                        <div class="col-lg-3 col-md-6 col-sm-12 card m-2" v-for="subject in modulesVue[selectedModule]">
                            <div class="card-body">
                                <h4 class="card-title mb-3">{{ subject }}</h4>
                                <h5 class="card-subtitle mb-2 text-primary"> {{ selectedModule }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Gallery -->
        <div class="p-5">
            <div class="container">
                <h1 class="text-center">Gallery</h1>
                <!-- BS carousel: start -->
                <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item" v-for="(image, index) in galleryVue"
                            :class="{'active': index === 0}">
                            <img :src="image" class="d-block w-100" alt="">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>


                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <!-- BS carousel: end -->
            </div>
        </div>

        <!-- Reviews -->
        <div class="p-5">
            <div class="container">
                <div class="row">
                    <h1 class="text-center">Reviews</h1>
                    <p class="lead text-center">Here are the reviews of {{universityVue}} from past seniors
                        who exchanged there.
                    </p>
                    <h5 class="text-center" v-if="userVue == undefined">
                        <a href="login_page.html">Login</a>
                        <span> to be able to leave a review</span>
                    </h5>
                    <h5 class="text-center" v-else>
                        <button class="btn btn-secondary" @click="reviewForm()">Add review</button>
                    </h5>
                    <div id="reviewPopup" class="popup">
                        <div class="popup-content">
                            <span class="close" @click="closePopup">&times;</span>
                            <h2 class="text-center">Add a Review</h2>
                            <form @submit.prevent="submitReview">
                                <label for="comment">Time to share your two cents worth of experience:</label><br>
                                <textarea v-model="comment" id="comment" placeholder="Share here..."
                                    required></textarea><br><br>
                                <input type="submit" value="Submit">
                            </form>
                        </div>
                    </div>



                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-12" v-for="review in reviewVue">
                        <div class="card">
                            <img :src="review.image_url" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">{{review.username}}</h5>
                                <p class="card-text">{{review.comment}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- dorm tour  -->
        <div class="p-5">
            <div class="container">
                <div class="row">
                    <h1 class="text-center">Dorms</h1>
                    <p class="lead text-center">There are the dorms at {{universityVue}}</p>
                    <div class="container-fluid">
                        <figure><iframe allowfullscreen="" width="100%" height="500"
                                src="https://app.cloudpano.com/tours/zdvHys2KT"></iframe></figure>
                    </div>
                </div>
            </div>
        </div>


        <!-- Google Map-->

        <!-- width="450"
        height="250" -->
        <!-- src="https://www.google.com/maps/embed/v1/search?key=AIzaSyALAMytvRCzbd_txEXw0QQwJh0GzSINQt0&q=Yale University&zoom=15&maptype=satellite" -->
        
        <div class="p-5" >
            <div class="container">
                <div class="row">
                    <div class="ratio ratio-16x9">
                        <iframe
                    
                            referrerpolicy="no-referrer-when-downgrade"
                            :src="universityURL()"
                            style="max-height: 400px;"
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
        </div>


        <!-- FAQ -->
        <div class="p-5">
            <div class="container">
                <h1 class="text-center mb-4">Frequently Asked Questions</h1>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Accordion Item #1
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the first item's accordion body.</strong> It is shown by default, until
                                the collapse plugin adds the appropriate classes that we use to style each element.
                                These classes control the overall appearance, as well as the showing and hiding via CSS
                                transitions. You can modify any of this with custom CSS or overriding our default
                                variables. It's also worth noting that just about any HTML can go within the
                                <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Accordion Item #2
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the second item's accordion body.</strong> It is hidden by default,
                                until the collapse plugin adds the appropriate classes that we use to style each
                                element. These classes control the overall appearance, as well as the showing and hiding
                                via CSS transitions. You can modify any of this with custom CSS or overriding our
                                default variables. It's also worth noting that just about any HTML can go within the
                                <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Accordion Item #3
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the third item's accordion body.</strong> It is hidden by default, until
                                the collapse plugin adds the appropriate classes that we use to style each element.
                                These classes control the overall appearance, as well as the showing and hiding via CSS
                                transitions. You can modify any of this with custom CSS or overriding our default
                                variables. It's also worth noting that just about any HTML can go within the
                                <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <!-- Site footer -->
            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <h6>
                                <img src="./images/logo.jpeg" class="header-photo" />
                            </h6>
                            <p class="text-justify">
                                xChange aims to be a one stop platform for students to plan for their exchange with
                                ease.
                            </p>
                        </div>
                        <div class="col-md-3">
                            <h6>Socials</h6>
                            <ul class="socials">
                                <li>
                                    <a class="facebook" href="#"
                                        ><label for="facebook"
                                            ><svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="20"
                                                height="20"
                                                fill="currentColor"
                                                class="bi bi-facebook"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" /></svg></label
                                    ></a>
                                </li>
                                <li>
                                    <a class="x" href="#"
                                        ><label for="facebook"
                                            ><svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="20"
                                                height="20"
                                                fill="currentColor"
                                                class="bi bi-twitter-x"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865l8.875 11.633Z" /></svg></label
                                    ></a>
                                </li>
                                <li>
                                    <a class="linkedin" href="#"
                                        ><label for="facebook"
                                            ><svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="20"
                                                height="20"
                                                fill="currentColor"
                                                class="bi bi-linkedin"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" /></svg></label
                                    ></a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-3">
                            <h6>Quick Links</h6>
                            <ul class="footer-links">
                                <li>
                                    <a href="./university.html"><label>Home</label></a>
                                </li>
                                <li>
                                    <a href="./forum.html"><label>Forum</label></a>
                                </li>
                                <li>
                                    <a href="./account.html"><label>Profile</label></a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-3">
                            <h6>Account</h6>
                            <ul class="footer-links">
                                <li>
                                    <a href="./login_page.html"><label>Log In</label></a>
                                </li>
                                <li>
                                    <a href="./login_page.html"><label>Register</label></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <hr />
                <div class="container">
                    <div class="row">
                        <div class="text-center">
                            <p class="copyright-text">
                                Copyright &copy; 2023 All Rights Reserved by <a href="#"><label>xChange</label></a
                                >.
                            </p>
                        </div>
                    </div>
                </div>
            </footer>        

    </div>









    <!-- Bootstrap JS bundle to be placed before the closing </body> tag -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3/dist/js/bootstrap.bundle.min.js"></script>

    <script type="module" src="./vue.js"></script>
</body>

</html>